background-color = #FDFFFC
background-color-dark = #011627
color-highlight = #2EC4B6
foreground-color-light = #FF9F1C
font-family-title = Bebas Neue, Inconsolata, Helvetica
font-family-content = Quicksand, Helvetica, Arial
color-green = #2c9c69
color-red = #c62f29

@font-face
  font-family Bebas Neue
  src url("/fonts/BebasNeue.otf") format("opentype")

@font-face
  font-family Quicksand
  src url("/fonts/Quicksand-Regular.otf") format("opentype")

body
  font-family font-family-content

.green
  color color-green !important

.red
  color color-red !important

.orange
  color foreground-color-light !important

.t-align-center
  text-align center

.app
  position absolute
  top 0
  left 0
  height 100%
  width 100%
  box-sizing border-box
  background-color background-color
  display flex
  flex-direction column

  .button
    display inline-block
    padding 5px
    margin 5px
    background-color background-color-dark
    color foreground-color-light
    font-family font-family-title
    border none
    font-size 1em

  .content
    padding 10px
    flex 1

    @media screen and (min-width: 800px)
      padding 10px 25%

    a
      color foreground-color-light

    &.overflow-y
      overflow-y auto

  h1, h2, h3, h4, h5, h6
    font-family font-family-title
    color background-color-dark
    font-weight normal

  > .title
    text-align center
    font-size 32px
    padding 10px
    background-color background-color-dark
    color foreground-color-light
    font-family font-family-title

    > p
      display inline
      margin-left 15px

    .sub
      font-size 15px

  .toolbar
    bottom 0
    left 0
    width 100%
    display flex
    flex-direction row
    align-items stretch
    background-color background-color-dark

    @media screen and (min-width: 800px)
      display block
      text-align center

    .toolbaritem
      position relative
      color foreground-color-light
      text-align center
      display inline-block
      padding 10px
      flex auto
      font-family font-family-content
      font-size 20px
      background-color inherit
      border none

      @media screen and (min-width: 800px)
        flex 0

      &:hover
        cursor pointer

      &.selected
        color color-highlight

      &:after
        /*content ''*/
        position absolute
        height 60%
        top 20%
        right 0
        border-right 1px solid foreground-color-light

      &:last-child
        &:after
          border none

      .sub
        font-size 15px
        font-family font-family-title

  .stat
    box-sizing border-box
    padding 10px

  .stagelist

    .stage
      margin-top 10px

      .summary
        background-color background-color-dark
        box-sizing border-box
        padding 10px
        font-size 20px
        display flex
        flex-direction row
        align-items center
        justify-content flex-start

        > p
          display inline
          color foreground-color-light
          font-family font-family-title
          padding 0 10px

        .title
          flex 1

        > i
          color foreground-color-light

      .stage-content
        height 0
        overflow hidden

        &.active
          height auto

  .imagemanager
    color foreground-color-light

    .imageuploader

      .fileuploader
        padding 10px
        text-align center

        &:hover
          cursor pointer

        input[type=file]
          visibility hidden
          position absolute
          top -9999px

        p
          display inline

        .btn
          background-color background-color-dark
          color foreground-color-light
          padding 5px
          margin 0 10px

    .imageselector
        display flex
        flex-direction row
        justify-content flex-start
        flex-wrap wrap
        padding-top 10px

      .image-container
        flex 0
        display inline-block
        padding-left 10px
        padding-bottom 10px

        .image
          height 128px
          width 48px

  .imagematching
    text-align center

    img
      margin 5px auto
      display block

    table
      margin auto

      tr
        td
          padding 10px

  .image-analyser
    .flex-row
      display flex
      flex-direction row
      justify-content space-around
      align-items center

    .controls
      display inline-block
      width 100px
      height 100px
      position relative
      background-color background-color-dark

      .control-button
        display inline-block
        position absolute
        height 33px
        width 33px
        text-align center
        color foreground-color-light

        i
          position relative
          top 50%
          transform translateY(-50%)

    .image
      height 128px
      width 48px
      display inline-block
      position relative

      .patch
        height 10px
        width 10px
        position absolute
        box-shadow 0 0 3px foreground-color-light inset
        border 1px solid foreground-color-light

    .row
      clear both
