doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title= title
		link(rel='stylesheet', href='/stylesheets/app.css')
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

	body
		block content

		script(src='javascripts/bundle.js', type='text/javascript')
