@font-face {
  font-family: Bebas Neue;
  src: url("/fonts/BebasNeue.otf") format("opentype");
}
@font-face {
  font-family: Quicksand;
  src: url("/fonts/Quicksand-Regular.otf") format("opentype");
}
body {
  font-family: Quicksand, Helvetica, Arial;
}
.green {
  color: #2c9c69 !important;
}
.red {
  color: #c62f29 !important;
}
.orange {
  color: #ff9f1c !important;
}
.t-align-center {
  text-align: center;
}
.app {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #fdfffc;
  display: flex;
  flex-direction: column;
}
.app .button {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  background-color: #011627;
  color: #ff9f1c;
  font-family: Bebas Neue, Inconsolata, Helvetica;
  border: none;
  font-size: 1em;
}
.app .content {
  padding: 10px;
  flex: 1;
}
@media screen and (min-width: 800px) {
  .app .content {
    padding: 10px 25%;
  }
}
.app .content a {
  color: #ff9f1c;
}
.app .content.overflow-y {
  overflow-y: auto;
}
.app h1,
.app h2,
.app h3,
.app h4,
.app h5,
.app h6 {
  font-family: Bebas Neue, Inconsolata, Helvetica;
  color: #011627;
  font-weight: normal;
}
.app > .title {
  text-align: center;
  font-size: 32px;
  padding: 10px;
  background-color: #011627;
  color: #ff9f1c;
  font-family: Bebas Neue, Inconsolata, Helvetica;
}
.app > .title > p {
  display: inline;
  margin-left: 15px;
}
.app > .title .sub {
  font-size: 15px;
}
.app .toolbar {
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background-color: #011627;
}
@media screen and (min-width: 800px) {
  .app .toolbar {
    display: block;
    text-align: center;
  }
}
.app .toolbar .toolbaritem {
  position: relative;
  color: #ff9f1c;
  text-align: center;
  display: inline-block;
  padding: 10px;
  flex: auto;
  font-family: Quicksand, Helvetica, Arial;
  font-size: 20px;
  background-color: inherit;
  border: none;
}
@media screen and (min-width: 800px) {
  .app .toolbar .toolbaritem {
    flex: 0;
  }
}
.app .toolbar .toolbaritem:hover {
  cursor: pointer;
}
.app .toolbar .toolbaritem.selected {
  color: #2ec4b6;
}
.app .toolbar .toolbaritem:after {
/*content ''*/
  position: absolute;
  height: 60%;
  top: 20%;
  right: 0;
  border-right: 1px solid #ff9f1c;
}
.app .toolbar .toolbaritem:last-child:after {
  border: none;
}
.app .toolbar .toolbaritem .sub {
  font-size: 15px;
  font-family: Bebas Neue, Inconsolata, Helvetica;
}
.app .stat {
  box-sizing: border-box;
  padding: 10px;
}
.app .stagelist .stage {
  margin-top: 10px;
}
.app .stagelist .stage .summary {
  background-color: #011627;
  box-sizing: border-box;
  padding: 10px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.app .stagelist .stage .summary > p {
  display: inline;
  color: #ff9f1c;
  font-family: Bebas Neue, Inconsolata, Helvetica;
  padding: 0 10px;
}
.app .stagelist .stage .summary .title {
  flex: 1;
}
.app .stagelist .stage .summary > i {
  color: #ff9f1c;
}
.app .stagelist .stage .stage-content {
  height: 0;
  overflow: hidden;
}
.app .stagelist .stage .stage-content.active {
  height: auto;
}
.app .imagemanager {
  color: #ff9f1c;
}
.app .imagemanager .imageuploader .fileuploader {
  padding: 10px;
  text-align: center;
}
.app .imagemanager .imageuploader .fileuploader:hover {
  cursor: pointer;
}
.app .imagemanager .imageuploader .fileuploader input[type=file] {
  visibility: hidden;
  position: absolute;
  top: -9999px;
}
.app .imagemanager .imageuploader .fileuploader p {
  display: inline;
}
.app .imagemanager .imageuploader .fileuploader .btn {
  background-color: #011627;
  color: #ff9f1c;
  padding: 5px;
  margin: 0 10px;
}
.app .imagemanager .imageselector {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 10px;
}
.app .imagemanager .image-container {
  flex: 0;
  display: inline-block;
  padding-left: 10px;
  padding-bottom: 10px;
}
.app .imagemanager .image-container .image {
  height: 128px;
  width: 48px;
}
.app .imagematching {
  text-align: center;
}
.app .imagematching img {
  margin: 5px auto;
  display: block;
}
.app .imagematching table {
  margin: auto;
}
.app .imagematching table tr td {
  padding: 10px;
}
.app .image-analyser .flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.app .image-analyser .controls {
  display: inline-block;
  width: 100px;
  height: 100px;
  position: relative;
  background-color: #011627;
}
.app .image-analyser .controls .control-button {
  display: inline-block;
  position: absolute;
  height: 33px;
  width: 33px;
  text-align: center;
  color: #ff9f1c;
}
.app .image-analyser .controls .control-button i {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.app .image-analyser .image {
  height: 128px;
  width: 48px;
  display: inline-block;
  position: relative;
}
.app .image-analyser .image .patch {
  height: 10px;
  width: 10px;
  position: absolute;
  box-shadow: 0 0 3px #ff9f1c inset;
  border: 1px solid #ff9f1c;
}
.app .image-analyser .row {
  clear: both;
}
